@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-image: url('../../assets/fundo.jpg'); /* Atualize o caminho conforme necessário */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden; /* Remove as barras de rolagem */
}

.app-container {
  max-width: 700px;
  height: 510px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  -webkit-app-region: drag; /* Permitir arrastar a janela */
}

.window-controls {
  display: flex;
  gap: 10px;
  -webkit-app-region: no-drag; /* Botões não são arrastáveis */
}

.window-controls button {
  background: none;
  border: none;
  color: #4a148c;
  font-size: 16px;
  cursor: pointer;
}

.window-controls button:hover {
  color: #6a1b9a;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-text {
  flex-grow: 1;
  margin-left: 15px;
}

.header-text h1 {
  font-size: 1.5em;
  margin: 0;
  color: #4a148c;
}

.settings-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.settings-content {
  display: flex;
  height: 100%;
}

.settings-text, .settings-options {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.settings-text {
  border-right: 1px solid #ddd;
}

.settings-text h2 {
  font-size: 1.3em;
  margin: 0;
  color: #4a148c;
  font-family: 'Roboto', sans-serif;
}

.settings-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.settings-options h3 {
  font-size: 1.3em;
  margin: 0;
  color: #4a148c;
  font-family: 'Roboto', sans-serif;
}

.settings-options button {
  margin-bottom: 20px;
  background-color: #4a148c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; 
  transition: background-color 0.3s;
}

.settings-options button:hover {
  background-color: #3a116d;
  color: #ffffff;
}

.hr-line {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

.contacts-title {
  font-size: 1.1em;
  margin: 10px 0;
  color: #4a148c;
}

