.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-drop-container {
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 20px;
  
}

.file-drop-container p {
  margin: 10px 0;
}

.file-drop-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.file-drop-container button:hover {
  background-color: #0056b3;
}

.file-types {
  margin-top: 10px;
}

#fileList {
  margin-top: 20px;
}

#fileList div {
  margin-bottom: 5px;
}

.box {
  background-image: repeating-linear-gradient(205deg, #460075, #460075 30px, transparent 30px, transparent 60px, #460075 60px), repeating-linear-gradient(295deg, #460075, #460075 30px, transparent 30px, transparent 60px, #460075 60px), repeating-linear-gradient(25deg, #460075, #460075 30px, transparent 30px, transparent 60px, #460075 60px), repeating-linear-gradient(115deg, #460075, #460075 30px, transparent 30px, transparent 60px, #460075 60px);
  background-size: 3px calc(100% + 66.2px), calc(100% + 66.2px) 3px, 3px calc(100% + 66.2px) , calc(100% + 66.2px) 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation 1s infinite linear reverse;
  }
  
  @keyframes borderAnimation {
  from { background-position: 0 0, -66.2px 0, 100% -66.2px, 0 100%; }
  to { background-position: 0 -66.2px, 0 0, 100% 0, -66.2px 100%; }
  }