.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-drop-container {
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.file-drop-container p {
  margin: 10px 0;
}

.file-drop-container button {
  background-color: #5C2C72;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.file-drop-container button:hover {
  background-color: #4e00b3;
}

.file-types {
  margin-top: 10px;
  color: #a3a2a2;
}

#fileList {
  margin-top: 20px;
}

#fileList div {
  margin-bottom: 5px;
}

.box {
  width: 579px;
  height: 260px;
  border-radius: 13px;
  background-color: #EEEEEE;
  border: 3px dashed #5C2C72;
}

.convertButton{
  color: #5C2C72;
}